<%- include("header") -%>
    <h1>Weather Checker</h1>
    <p>The weather is currently <%= items[0] %>.<p>
        <img src = <%= items[3] %>>
    <h1>The temperature in <%= items[1] %> is currently <%= items[2] %> degrees Celcius.</h1>
<%- include("footer") -%>

